# ignore file types
*.mp4
*.pyc
*.record
*.h5py

# ignore DS_Store
.DS_Store

# extra files
hart-code-resources/
__pycache__/

# photos not needed
hart-code/Annotate/data/batch_0/**
hart-code/Training_2/data/annotated/batch_0/**
hart-code/Annotate/data/batch_1/**
hart-code/Training_2/data/annotated/batch_1/**
hart-code/Annotate/old/**

# Jupyter
.ipynb_checkpoints
