# ignore file types
*.mp4
*.pyc
*.record
*.h5py
*.h5

# ignore DS_Store
.DS_Store

# extra files
hart-code-resources/
__pycache__/

# photos not needed
hart-code/Annotate/data/batch_0/**
hart-code/Training_2/data/annotated/**
hart-code/Annotate/data/batch_1/**
hart-code/Training_2/data/not_all_keypoints/**
hart-code/Training_2/homography_demo/**
hart-code/Annotate/old/**

# Jupyter
.ipynb_checkpoints
